.pro {
  position: absolute;
  padding: 5px;
  color: white;
}

.progress {
  transition: 0.5s ease;
}

.progress:hover {
  transform: scale(1.1);
}

.line {
  width:30%;
  border: 0;
  height: 3px;
  background: #095484;
  background-image: linear-gradient(to right, #ccc, #095484, #ccc);
  
}
.about-details {
  margin-top: 1.5rem;
  list-style: none;
  list-style-type: none;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.625em;
}

.about-details-list {
  display: flex;
}

.about-title {
  font-size: 18px;
  font-weight: 600;
  width: 130px;
}
.about-value{
  color:rgb(30, 14, 155);
  font-size: 16px;
}
